.container {
  width: 100%;
  max-width: bkp(xl);
  margin: 0 auto;
  padding: 0 1rem;
  @include from(bkp(l)) {
    padding: 0 2rem;
  }
  &-fluid {
    width: 100%;
    max-width: none;
  }
}