.footer {
  margin: 2rem 0 60px;
  padding: 1rem 0;
  background-color: get-gray(200);
  box-shadow: shadow(surface);
  &__text {
    text-align: center;
  }
  &__author {
    font-weight: font-weight(body-bold);
    color: get-color(rojo);
  }
  @include from(bkp(m)) {
    margin-bottom: 0;
  }
}