.header {
  height: 100vh;
  &__hero {
    height: 100%;
    background-image: linear-gradient(to bottom,
                                      rgba(#000, .9) 70%,
                                      rgba(#000, .6) 80%,
                                      get-gray(50)
                                     ),
                      url(../../images/backgrounds/main-bg-m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include from(468px) {
      background-image: linear-gradient(to bottom,
                                        rgba(#000, .9) 70%,
                                        rgba(#000, .6) 80%,
                                        get-gray(50)
                                       ),
                        url(../../images/backgrounds/main-bg.jpg);
    }
  }
  .hero__title {
    font-size: typo-scale(h2);
    text-align: center;
    color: #fff;
    @include from(768px) {
      font-size: typo-scale(display) / 2;
    }
    @include from(1024px) {
      font-size: typo-scale(display) - .25rem;
    }
    @include from(1200px) {
      font-size: typo-scale(display);
    }
  }
  .search-form {
    @include from(768px) {
      margin: 0 auto;
      max-width: 500px;
    }
    @include from(1024px) {
      max-width: 900px;
    }
  }
}