.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: typo-scale(small);
  background-color: get-gray(200);
  box-shadow: shadow(surface);
  transition: width 600ms ease;
  z-index: 1000;
  @include from(bkp(m)) {
    top: 0;
    left: 0px;
    width: 48px;
    font-size: typo-scale(base);
    overflow-x: hidden;
  }
  &__list {
    display: flex;
    list-style: none;
    @include from(bkp(m)) {
      flex-direction: column;
    }
  }
  &__item {
    flex-grow: 1;
    @include from(bkp(m)) {
      flex-grow: initial;
    }
    &:nth-child(1) {
      display: none;
      @include from(bkp(m)) {
        display: block;
        a {
          justify-content: space-between;
          i:last-child {
            display: none;
            margin-right: 0;
          }
        }
      }
    }
  }
  [class*="navbar__link"] {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    transition: background-color .5s;
    @include from(bkp(m)) {
      flex-direction: row;
      padding: 1rem;
      span {
        display: none;
      }
    }
    i {
      margin-bottom: .25rem;
      @include from(bkp(m)) {
        margin-right: 1rem;
        margin-bottom: 0;
      }
    }
  }
  .word-hidden {
    display: none;
    @include from(bkp(m)) {
      display: block;
    }
    & + span {
      text-transform: capitalize;
      @include from(bkp(m)) {
        text-transform: lowercase;
      }
    }
  }
  @each $item, $color in $nav-items {
    &__link--#{$item} {
      @include item-color($color);
    }
  }
  &__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow-y: scroll;
    padding: 1rem 0;
    background-color: rgba($color: #000, $alpha: .9);
    text-align: center;
    font-size: typo-scale(small);
    color: #fff;
    opacity: 0;
    z-index: 100;
    @include from(bkp(m)) {
      left: 184.062px;
      bottom: 0;
    }
    @include from(bkp(l)) {
      padding: 2rem 0;
      font-size: typo-scale(base);
    }
  }
  &__modal.visible {
    display: block;
    animation: show-modal .5s forwards;
  }
  &.expanded {
    @include from(bkp(m)) {
      width: 184.078px;
      span {
       display: block;
      }
    }
    .navbar__link--caret {
      i:nth-child(1) {
        opacity: 0;
      }
      i:nth-child(2) {
        display: block;
      }
    }
  }
}
@keyframes show-modal {
  to {
    opacity: 1;
  }
}
.modal {
  &__list {
    list-style: none;
  }
  &__link {
    display: block;
    padding: .1rem 0;
  }
}
@include from(bkp(m)) {
  body {
    margin-left: 48px;
  }
}