.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: map-get($map: $typo-scale, $key: small);
  background-color: map-get($map: $gray-scale, $key: gray-200);
  box-shadow: map-get($map: $shadows, $key: surface);
  z-index: 100;
  @include from(768px) {
    top: 0;
    left: 0px;
    width: 48px;
    font-size: map-get($map: $typo-scale, $key: base);
    overflow-x: hidden;
  }
  &__list {
    display: flex;
    list-style: none;
    @include from(768px) {
      flex-direction: column;
    }
  }
  &__item {
    flex-grow: 1;
    @include from(768px) {
      flex-grow: initial;
    }
    &:nth-child(1) {
      display: none;
      @include from(768px) {
        display: block;
        a {
          justify-content: space-between;
          i:last-child {
            display: none;
            margin-right: 0;
          }
        }
      }
    }
  }
  [class*="navbar__link"] {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    transition: background-color .5s;
    @include from(768px) {
      flex-direction: row;
      padding: 1rem;
      span {
        display: none;
      }
    }
    i {
      margin-bottom: .25rem;
      @include from(768px) {
        margin-right: 1rem;
        margin-bottom: 0;
      }
    }
  }
  .word-hidden {
    display: none;
    @include from(768px) {
      display: block;
    }
    & + span {
      text-transform: capitalize;
      @include from(768px) {
        text-transform: lowercase;
      }
    }
  }
  @each $item, $color in $nav-items {
    &__link--#{$item} {
      @include item-color($color);
    }
  }
  &__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    padding: 1rem 0;
    background-color: rgba($color: #000, $alpha: .9);
    text-align: center;
    font-size: map-get($map: $typo-scale, $key: small);
    color: #fff;
    z-index: 1000;
  }
  &__modal.visible {
    display: block;
    animation: show-modal .5s alternate;
  }
}
@keyframes show-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal {
  &__list {
    list-style: none;
  }
  &__link {
    display: block;
    padding: .1rem 0;
  }
}
@include from(768px) {
  body {
    margin-left: 48px;
  }
}