.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: map-get($map: $typo-scale, $key: small);
  background-color: map-get($map: $gray-scale, $key: gray-200);
  box-shadow: map-get($map: $shadows, $key: surface);
  z-index: 100;
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    flex-grow: 1;
  }
  [class*="navbar__link"] {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    i {
      margin-bottom: .25rem;
    }
  }
  @each $item, $color in $nav-items {
    &__link--#{$item} {
      @include item-color($color);
    }
  }
  &__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    padding: 1rem 0;
    background-color: rgba($color: #000, $alpha: .9);
    text-align: center;
    font-size: map-get($map: $typo-scale, $key: small);
    color: #fff;
    z-index: 1000;
  }
  &__modal.visible {
    display: block;
    animation: show-modal .5s alternate;
  }
}
@keyframes show-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal {
  &__list {
    list-style: none;
  }
  &__link {
    display: block;
    padding: .1rem 0;
  }
}