.card {
  width: 100%;
  border-radius: .25rem;
  background-color: #fff;
  box-shadow: map-get($map: $shadows, $key: card-1),
              map-get($map: $shadows, $key: card-2);
  overflow: hidden;

  &__img img {
    width: 100%;
    object-fit: cover;
  }
  &__content {
    padding: .5rem;
    font-size: map-get($map: $typo-scale, $key: small);
    a.btn {
      font-size: map-get($map: $typo-scale, $key: small);
      @include from(1024px) {
        font-size: map-get($map: $typo-scale, $key: base);
      }
    }
    @include from(768px) {
      padding: .5rem 1rem;
      font-size: map-get($map: $typo-scale, $key: base);
    }
  }
  &__title {
    margin-bottom: .5rem;
    font-size: map-get($map: $typo-scale, $key: h6);
    text-align: center;
    line-height: 1;
  }
  &__stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    font-weight: map-get($map: $font-weights, $key: body-extra-light);
    color: map-get($map: $gray-scale, $key: gray-600);
  }
  .stats__views i {
    color: map-get($map: $main-palete, $key: morado);
  }
  .stats__likes i {
    color: map-get($map: $main-palete, $key: rosa);
  }
}