.card {
  width: 100%;
  border-radius: .25rem;
  background-color: #fff;
  box-shadow: map-get($map: $shadows, $key: card-1),
              map-get($map: $shadows, $key: card-2);
  overflow: hidden;

  &__img img {
    width: 100%;
    object-fit: cover;
  }
  &__content {
    padding: .5rem;
    font-size: typo-scale(small);
    a.btn {
      font-size: typo-scale(small);
      @include from(1024px) {
        font-size: typo-scale(base);
      }
    }
    @include from(768px) {
      padding: .5rem 1rem;
      font-size: typo-scale(base);
    }
  }
  &__title {
    margin-bottom: .5rem;
    font-size: typo-scale(h6);
    text-align: center;
    line-height: 1;
  }
  &__stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    font-weight: font-weight(body-extra-light);
    color: get-gray(600);
  }
  .stats__views i {
    color: get-color(morado);
  }
  .stats__likes i {
    color: get-color(rosa);
  }
}