.search-form {
  &__input {
    width: 100%;
    padding: .5rem 1rem;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    transition: transform .5s;
    &:focus {
     transform: scaleY(1.1);
     outline: none;
    }
  }
}