
body.state {
  .header__hero {
    display: block;
    padding: 1rem 1rem 0;
    position: relative;
    @include from(bkp(m)) {
      padding: 2rem 2rem 0;
    }
  }
  .hero__logo {
    text-align: center;
    font-size: typo-scale(h3);
    color: #fff;
    @include from(bkp(m)) {
      text-align-last: left;
    }
  }
  .search-form__input {
    padding: .25rem 1rem;
  }
  .hero__title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
