:root {
  font-size: $font-size;
  font-weight: font-weight(body-regular);
  line-height: 1;
}
body {
  font-family: font-family(body);
  color: get-gray(900);
}
%heading {
  font-family: font-family(heading);
  font-weight: font-weight(heading-regular);
  @include from(768px) {
    line-height: .5;
  }
}
@for $heading-num from 1 through 6 {
  h#{$heading-num}, .h#{$heading-num} {
    font-size: typo-scale(h#{$heading-num});
    @extend %heading;
  }
}
.display {
  font-size: typo-scale(display);
  text-transform: uppercase;
  @extend %heading;
}